.app {
  margin: 3em 0;
}

.splash {
  background: url(../img/iphone.png) no-repeat top right;
  padding-bottom: 54em;
  position: relative;
}

.iphone {
  position: absolute;
  width: 480px;
  height: 852px;
  top: 180px;
  right: 78px;
  overflow: hidden;
}

@-webkit-keyframes slide {
  0% { -webkit-transform: translateX(0px) }
  45% { -webkit-transform: translateX(0px) }
  50% { -webkit-transform: translateX(-480px) }
  95% { -webkit-transform: translateX(-480px) }
}

.screen {
  background-image: url(../img/sms.png), url(../img/survey.png);
  background-position: left center, 100% center;
  background-repeat: no-repeat;
  width: 200%;
  height: 100%;
  -webkit-animation: slide 5s infinite;
}

h1 {
  font-family: Syncopate;
  font-weight: bold;
}

h2 {
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;
  border-bottom: 1px solid;
}

section {
  background: #f9f9f9;
  padding: 1em 1.5em;
  margin-bottom: 1.5em;
}

textarea {
  height: 5em;
}

.features {
  margin-top: 6em;
}

.features i {
  font-size: 42px;
  line-height: 1;
  margin: 0;
}

.features i.fi-like {
  color: #99b;
}

.features i.fi-dollar-bill {
  color: #9fb;
}

#responses {
  margin-top: -3em;
}
