<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReSMS</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Syncopate:400,700" />
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/foundation-icons.css" />
    <link rel="stylesheet" href="/static/css/pizza.css" />
    <link rel="stylesheet" href="/static/css/app.css" />
    <script src="/static/js/modernizr.js"></script>
  </head>
  <body>
    <div class="app">
      <div class="row">
        <div class="large-12 columns">
          <h1>ReSMS</h1>
        </div>
      </div>
      {% block content %}{% endblock %}
      </div>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/vendor/snap.svg.js"></script>
    <script src="/static/js/pizza.js"></script>
    <script>
      $(document).foundation();
      Pizza.init();
    </script>
  </body>
</html>
